/* CSS reset */
* {
    margin: 0;
}

/* Root properties */
:root{
    /* Colours */
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #5b82ee;

    /* Fonts */
    --ff--primary: 'Overpass', sans-serif;
    --fs-h1: 3rem;
}

body{
    background: var(--clr-light);
    font-family: var(--ff--primary);
    min-height: 100vh;
}

h1{
    font-size: var(--fs-h1);
    color: #fff;
}

section {
    border-radius: 1em;
}

.top{
    background: var(--clr-accent);
    text-align: center;
    width: auto;
    margin-bottom: 1vh;
    height: 50vh;
}

.bottom{
    background: var(--clr-dark);
    text-align: center;
    width: auto;
    height: 50vh;
}